[2016-02-27 17:06] sacdallago opened #1 "Don't commit on master / use feature model / revert commits"
@Hack3l you commited on the master branch (d3a05d5762b27d631b483b9cf11af34f71d07e86), this is not what you should do.

Please:
- [x] Revert your commit and bring master back to the initial state ( 72df47b392b120338e2197a0f69a982b636271bf )
- [x] Open a branch for the feature you work on, branching off from develop
- [x] If you are already done with your feature, open a pull request

We would like

[2016-03-03 15:14] Hack3l opened #2 "Test if books are a good feature"
Compare the SVMs with and without books, to decide if they are a good feature.

[2016-03-03 15:56] Hack3l commented on #2
OUTPUT WITHOUT BOOKS SMO :

=== Run information ===

Scheme:weka.classifiers.functions.SMO -C 1.0 -L 0.001 -P 1.0E-12 -N 0 -V -1 -W 1 -K "weka.classifiers.functions.supportVector.PolyKernel -C 250007 -E 1.0"
Relation:     characters-weka.filters.unsupervised.attribute.Remove-R1
Instances:    2235
Attributes:   5
              culture
              allegiance
              born
              title

[2016-03-03 16:05] Hack3l commented on #2
[output_without_books_rbfkernel.txt](https://github.com/Rostlab/JS16_ProjectB_Group6/files/157715/output_without_books_rbfkernel.txt)

[2016-03-03 20:52] subburamr commented on #2
OUTPUT with Books attributes - polynomial kernel

=== Run information ===

Scheme:weka.classifiers.functions.SMO -C 1.0 -L 0.001 -P 1.0E-12 -N 0 -V -1 -W 1 -K "weka.classifiers.functions.supportVector.PolyKernel -C 250007 -E 1.0"
Relation:     characters-weka.filters.unsupervised.attribute.Remove-R1
Instances:    2235
Attributes:   10
              culture
              allegiance
              bo

[2016-03-03 20:56] subburamr commented on #2
[output_with_books_SMO_RBFKernel.txt](https://github.com/Rostlab/JS16_ProjectB_Group6/files/157681/output_with_books_SMO_RBFKernel.txt)

[2016-03-04 12:27] Hack3l commented on #2
# Comparison of all outputs

POLY KERNEL WITHOUT BOOKS
Correctly Classified Instances      1729                77.3602 %
Incorrectly Classified Instances    506                 22.6398 %
Mean absolute error                                     0.2264
Root mean squared error                                 0.4758

RBF KERNEL WITHOUT BOOKS
Correctly Classified Instances      1735                77.62

[2016-03-04 17:07] subburamr commented on #2
The data set with books as additional features (boolean values for character appearances in books) has been pushed upstream to the develop branch.

Weka Results Summary:
POLY KERNEL WITH BOOLEAN BOOKS
Correctly Classified Instances 1747 78.1655 %
Incorrectly Classified Instances 488 21.8345 %
Mean absolute error 0.2183
Root mean squared error 0.4673

RBF KERNEL WITH BOOLEAN BOOKS
Correctly Classif

[2016-03-04 17:13] #2 closed, assigned to Hack3l

[2016-03-04 18:54] jsalahov opened #4 "Make npm package"
Add package.json

[2016-03-04 18:55] jsalahov opened #5 "Enable linting"
Add jshint

[2016-03-04 18:55] jsalahov opened #6 "Write unit tests"

[2016-03-04 18:56] jsalahov opened #7 "Configure Travis"
Add Travis configuration

[2016-03-05 00:54] #1 closed, assigned to Hack3l

[2016-03-05 10:19] sacdallago commented on #4
@CavidSalahov remember:
`If the commit is in a non-default branch, the issue will remain open and the issue will be referenced with a tooltip.`
https://help.github.com/articles/closing-issues-via-commit-messages/

I actually don't know if once you merge the feature branch into the default branch (develop), it will close this issue. Keep an eye on it and let me know :) I'm very curious

[2016-03-05 10:32] #4 closed, assigned to jsalahov

[2016-03-05 10:32] jsalahov commented on #4
Well, looks like it worked :)

[2016-03-05 11:03] sacdallago commented on #4
Very nice!

[2016-03-05 14:02] #5 closed, assigned to jsalahov

[2016-03-05 14:07] Hack3l opened #10 "API handler"
Create includable functions that get data from the API from project a
- [x] getAllCharacters
- [x] getAllAllegiances
- [x] getAllCultures
- [x] getAllTitles

[2016-03-05 17:13] jsalahov commented on #6
Can someone provide me sample input data and result from json_to_arff converter function for testing puposes?

[2016-03-05 17:20] jsalahov commented on #6
@sacdallago Should this issue be closed with one pull request? Or should it be open until the project ends? As there will more tests as functionality gets added.

[2016-03-05 17:27] sacdallago commented on #6
Mh. Maybe: Set a milestone to "end of profect" and put a label "Care of project E" and leave it open to the end. Do you agree?

[2016-03-05 17:39] jsalahov commented on #6
Yeah, That'll do.

[2016-03-06 18:44] ThuyNganTran commented on #10
Done, submitted a pull request to develop branch.

[2016-03-06 18:44] #10 closed, assigned to ThuyNganTran

[2016-03-06 19:50] #7 closed, assigned to jsalahov

[2016-03-10 10:11] Hack3l opened #16 "Feature selection"
- [x] Pull data from database
- [x] Convert data to arff
- [x]   Add more features
- [x] Test features in svm
- [x] Create list of feature contribution

[2016-03-10 10:20] Hack3l opened #17 "SVM implementation in Javascript"
- [x] Find good svm package
- [ ] Implement SVM
- [ ] Find best settings for SVM
- [ ] Test SVM with selected features
- [ ] Store plod and feature contribution

[2016-03-10 10:39] Hack3l opened #18 "API implementation"
- [x] provide call to rerun SVM
- [ ] implement getPlodByCharacter
- [ ] implement getPlodOrdered limit by given number
- [ ] implement getPlod ordered of all characters
- [ ] implement getFeatureContribution

[2016-03-10 11:39] Hack3l commented on #17
SVM package we want to use : https://github.com/nicolaspanel/node-svm

[2016-03-11 12:47] jsalahov opened #24 "Project directory structure"
Hello there, people. As you should have noticed, tests are failing :smile_cat:
Reason is directory structure has changed, so tests can't "require" modules.
So the question is : Is this the final directory structure of the project?

[2016-03-11 12:54] asesselmann commented on #24
No, because we are not even near to starting our real task (implementing the support vector machine).

The files in the weka folder worked with the provided dummy data,
the files in the api-handler folder work with the actual data of Project A's database.

The structure will keep changing, maybe its best if we notify you, when we have the final (or even nearly final) structure.

Maybe one of the o

[2016-03-11 13:12] jsalahov commented on #24
If there will be any commit that changes the directories or breaks the tests in any other way, assign the pull request to me. I'll modify the tests if needed and then merge your pull request.

[2016-03-12 14:59] asesselmann commented on #16
Please check out the new branch arff_conversion.
Pulling data works, also the created arff file looks fine.

For now there are a lot of '?' in the file, because the database is not populated yet.
We also can add more features, I only did the easy ones :)

(It works, but I actually never worked with callbacks before, hope you can understand what I did :) )

[2016-03-15 17:13] sacdallago opened #26 "Data flow and storage"
In an effort to bring together the pieces, we came up with the following requirements:

The predictions that you will produce will be bound to a character, say

[code]

As the PLOD for a character will be a numerical value and the machine learning will only train on the available data now, so it makes no sense for you to create PLODs dynamically.

You will write directly on the database that **A**

[2016-03-15 18:12] AlexMoroz commented on #26
@CavidSalahov  assign it to yourself =)
I don't have access to repo.

[2016-03-16 13:52] goldbergtatyana commented on #17
Basically, we don't need any other machine learning tool other than weka

[2016-03-16 14:40] Hack3l commented on #17
@goldbergtatyana so we should use node-weka instead?

[2016-03-16 20:01] subburamr commented on #16
Possible list of additional features for evaluation:
- [x]  Gender
- [ ]   Book of Death (based on the last book a dead character appears)
       - not implemented as attribute is not relevant to alive characters
- [x]   Married?
- [x]   Page rank of character (normalized)
- [x]   Popularity (boolean based on normalized_page_rank > or < 0.5)
- [ ]   how many houses belong to the overlord
      - n

[2016-03-17 09:22] kordianbruck opened #29 "Project Package via NPM"
Please provide your NPM package as soon as possible!

[2016-03-17 09:53] goldbergtatyana commented on #17
@Hack3l not even that. Once you found your optimal prediction model, you save the result of it and you're done. So, there is really no need running any JS weka implementations or other JS-based machine learning tools (only if you want to experiment with them :)).

[2016-03-17 09:56] goldbergtatyana commented on #16
@subburamr very good suggestions!

another feature to use could be: relationship to a dead character

[2016-03-17 10:39] jsalahov commented on #29
@sacdallago Should I set the publishing from master branch or according to tags on develop?

[2016-03-17 10:44] kordianbruck commented on #29
@CavidSalahov please only use stable commit states. Either master with tags or just master. Tags actually define a released version in the normal git workflow.

[2016-03-17 11:04] jsalahov commented on #29
K. Setting up deploy from master branch. Meanwhile, you can use npm to install from github.

[2016-03-17 14:09] jsalahov commented on #29
@asesselmann @Hack3l @subburamr @ThuyNganTran Guys, please choose a package name starting with "got".

[2016-03-17 14:42] asesselmann commented on #29
I suggest gotPLOD

[2016-03-17 14:52] sacdallago commented on #16
Remember the feature freeze! Try to be proactive about the data / don't just **ask** A if they con provide you with it, try to see if you can implement something to get that data, get it from other sources/databases/wikis/imdb whatever

[2016-03-17 17:01] asesselmann commented on #16
List of features we already have:
name
title
gender
culture
dateOfBirth
dateOfDeath
mother
father
heir
house
spouse
isAlive

features we have implemented but have not been written to the database yet:
placeOfBirth
placeOfDeath
allegiance
characterPopularity
parents
books
placeOfLastVisit

We should think of:
[] make spouse a boolean
[] consider characters older than 100 (?) years as dead

[2016-03-17 17:24] goldbergtatyana commented on #16
Very good suggestions!

Apropos, "mother", "father", "spouse" - makes sense asking if they are dead already (and having the answer as a boolean) and "PlaceOfDeath" does probably not apply to alive characters for whom we want to make a prediction of death :)
Also, note, some of the features you can compile yourself without waiting for the database to be populated with them.

[2016-03-17 17:32] asesselmann commented on #16
It is right, that placeOfDeath is not useful for living characters. But we consider all characters as dead, that either have a specified date or place of death. So this will help us with the labeling of characters as dead or alive. So I think it would be quite nice to get this feature :)

[2016-03-17 17:35] Hack3l commented on #16
And we wanted to use the placeOfDeath together with the last visited place for living characters as a feature (so places where a lot of people died are more likely for other people to die)

[2016-03-17 17:37] asesselmann commented on #16
We also should think about kicking characters which have far to few features out of the training set?
Would that influence our prediction?

[2016-03-17 17:39] goldbergtatyana commented on #16
@asesselmann I agree that features PlaceOfDeath and DateOfDeath are really good features on their own. However, for the prediction of PLODs they will be useless as they will never have an entry for characters who are still alive.

[2016-03-17 17:40] goldbergtatyana commented on #16
@Hack3l "the last visited place" makes a lot of sense, though "placeOfDeath" will always be blank for those who are alive :)

[2016-03-17 17:42] Hack3l commented on #16
@goldbergtatyana Yes but we can use placeOfDeat as the last visited place for dead characters

[2016-03-17 17:43] goldbergtatyana commented on #16
@asesselmann

[2016-03-17 17:45] goldbergtatyana commented on #16
@Hack3l i dont quite understand. if you would have a feature called "last_visited_place" and the person is dead then ML will already understand that there is a connection between place and death.

Btw, can you compile information where most characters die? If there is a pattern, then lets have features "visited_place_1", "visited_place_2" and so on and have yes/no or 0/1 if a character has been to

[2016-03-17 17:50] Hack3l commented on #16
@goldbergtatyana i think we meant different things i was talking about takeing the value of placeOfDeath for the feature last_visited_place not the feature placeOfDeath ^^
Yes we can try that

[2016-03-17 17:55] asesselmann commented on #16
I'm currently working on booleans isAlive for mother, father,...
@Hack3l What should we use as a default value? If a character has no defined mother, shall we consider the mother as dead or alive?
If we use NUMERIC values, can we still have question marks for unknown?
(What I mean: does weka handle question marks as undefined, and are 0 and 1 then still considered booleans?)

[2016-03-17 17:58] Hack3l commented on #16
@asesselmann maybe a third value for undefined?

[2016-03-17 17:58] asesselmann commented on #16
like "?" ?

[2016-03-17 17:58] asesselmann commented on #16
cite: "If we use NUMERIC values, can we still have question marks for unknown?
(What I mean: does weka handle question marks as undefined, and are 0 and 1 then still considered booleans?"

[2016-03-17 18:05] goldbergtatyana commented on #16
@asesselmann @Hack3l  If a value is unknown, you must explicitly represent it with a question mark (?).

[2016-03-17 18:12] asesselmann commented on #16
@goldbergtatyana
Question 1: So if the datatype is boolean, we have three different values: ?, 0, 1 ?
Question 2: If the datatype is String, do we need to use ?, or is "?" also ok?
Question 3: We do not know if any Character really is alive, we just consider him as alive, if he has not died yet. For this value it does not seem to make sense for me to use ?, but just to set isAlive = true.

[2016-03-17 18:13] Hack3l commented on #16
@asesselmann yes it should work with 0,1 and ?
no "?" is not ok it didnt work for me

[2016-03-17 18:18] goldbergtatyana commented on #16
@asesselmann Q1: yes; Q2: I thought it is also a yes, but @Hack3l says it's a no, please check the weka's tutorial (I'm on the phone right now, so would be way slower if I do it); Q3: yep, the class should only be dead or alive. Btw, characters who are older than 100 should be labeled deaaaad. :)

[2016-03-17 18:24] #18 closed, assigned to nobody

[2016-03-17 18:25] subburamr commented on #18
Not relevant.

[2016-03-17 18:28] Hack3l commented on #16
for the first weka tests i needed to remove the " around  "?" because weka thought it was a string

[2016-03-17 18:30] asesselmann commented on #16
Ok, but is it ok the way it is at the moment?

[2016-03-17 18:33] subburamr commented on #17
Closing the issue as it is not being implemented now.

[2016-03-17 18:33] #17 closed, assigned to Hack3l

[2016-03-17 19:01] Hack3l commented on #16
@asesselmann Yes thats exactly how it should be

[2016-03-17 19:03] subburamr commented on #24
@CavidSalahov  Just as a headsup, due to change in project [deliverable](https://github.com/Rostlab/JS16_ProjectB_Group6/issues/17#issuecomment-197341471) we would be removing the svm(no longer being implemented) and weka(was just used for preliminary task) folders from our final deliverable

The attached image is likely to be our final project structure. So you can make changes to the tests accor

[2016-03-17 19:06] asesselmann commented on #16
Great :)

Project A mentioned, that we are season six is playing in 305 AC.
Should I use that date to calculate the ages of characters?

https://github.com/Rostlab/JS16_ProjectA/issues/77

[2016-03-17 19:17] subburamr opened #33 "Project Deliverable"
- [x] implement getPLOD
- [x] implement getFeatureRanking
- [x] cleanup files

[2016-03-17 19:46] jsalahov commented on #24
Well, you can also delete the contents of the spec folder, as they also became irrelevant. Build should fail then

[2016-03-18 14:51] #29 closed, assigned to nobody

[2016-03-18 15:25] jsalahov commented on #24
@subburamr Is it safe to delete everything that is not pictured here? :smiling_imp:

[2016-03-18 16:02] sacdallago opened #50 "Semantics"
From the Online Oxford Dictionary:

https://github.com/Rostlab/JS16_ProjectB_Group6/blob/develop/.travis.yml#L23

[2016-03-18 16:11] jsalahov commented on #50
Informative but not relative

[2016-03-18 16:11] #50 closed, assigned to nobody

[2016-03-19 10:19] kordianbruck commented on #29
@asesselmann Can you give me some instructions how to include it or link to the NPM page?

[2016-03-19 19:04] asesselmann commented on #29
Sorry, I can't. Maybe one of the others can help you?
@Hack3l @subburamr @ThuyNganTran

[2016-03-19 19:26] sacdallago commented on #29
You forgot the most important one: @CavidSalahov

[2016-03-19 20:48] jsalahov commented on #29
@kordianbruck Experimental (because I don't even remember what was the state of the project when it was published) package is available here:
https://www.npmjs.com/package/gotplod
But you're better off installing directly from github (npm can do that), as next deployment configured to be from master branch

[2016-03-19 22:47] subburamr opened #54 "choose optimal features and parameters for predicting PLOD"
Kernel: 1. polykernel
             2. rbfkernel
Attributes: Removed attributes placeOfBirth, placeOfDeath, placeOfLastVisit and age
Parameters: Default

[3.attributeranking.txt](https://github.com/Rostlab/JS16_ProjectB_Group6/files/181487/3.attributeranking.txt)
[3.polykernel.txt](https://github.com/Rostlab/JS16_ProjectB_Group6/files/181488/3.polykernel.txt)
[3.rbfkernel.txt.gz](https://github.com

[2016-03-20 16:18] gyachdav commented on #29
C'mon they're all important <3

Sent from my iPhone

[2016-03-21 09:27] sacdallago opened #58 "Configurable endpoints"
Hey guys,
every endpoint must be configurable. This package needs to be independent of everything else, also of bruck's server!

Look how **C10** implemented this: https://github.com/Rostlab/JS16_ProjectC_Group10/wiki/Init-New-GoT-Map-and-Options

[2016-03-21 13:08] subburamr commented on #54
Adding some results for subset of instances

**Attributes used**:(Attributes with >50% missing removed)
Attributes:   16
              name
              title
              male
              culture
              house
              book1
              book2
              book3
              book4
              book5
              isNoble
              numDeadRelations
              boolDeadRela

[2016-03-21 20:28] gyachdav commented on #54
check this out for more feature that were tested:

http://www.techtimes.com/articles/16812/20140930/can-statistics-tell-us-who-dies-next-on-game-of-thrones.htm

[2016-03-21 23:05] goldbergtatyana commented on #54
As i can see, the result of dataset 1 is the leading one with the F-measure of 0.727. However, the data set of it is rather small (115 characters)...
For each dataset, how do you compare yourself to random when predicting new dead characters?
Have you tried other ML classification algorithms?

[2016-03-22 02:14] subburamr commented on #54
Below are the result with Randomforest, which was good for smaller dataset but didn't give a good result for a larger dataset.
**Random Forest**
**Dataset 2**: Either Popular or has attribute title
=== Summary ===

Correctly Classified Instances         717               73.8414 %
Incorrectly Classified Instances       254               26.1586 %
Kappa statistic                          0.1566
Mea

[2016-03-22 10:29] goldbergtatyana commented on #54
Yep, given that dead characters make 17% of your data set, the prediction with Naive Bayes for dataset2 is much better than random (62%, 88 correct out of 143). What are the misclassified instances? Do they share a common (missing?) set of features?

[2016-03-23 01:54] subburamr commented on #54
For the misclassified dead characters(137), some patterns were missing values for culture(53) and most were with Title "Ser"(64). However removing culture attribute or removing other attributes one by one did not reduce these misclassifications much.
Below is the list of dead characters who get misclassified in the different datasets.
[dead_misclassified.xlsx](https://github.com/Rostlab/JS16_Proje

[2016-03-23 16:01] gyachdav opened #60 "Stats about your project"
Meysters, as part of the media blitz we're planning there will be a press release that will throw some *_big numbers *_at the readers. Can you provide some impressive statistics about the data you processed to come up with your predictions. something like looked at 25 features for 2000 characters totaling in 500k data points. Any thing that you think might be interesting IS interesting.

[2016-03-24 10:15] goldbergtatyana commented on #54
Of all the attempts listed here to find an optimal model, the SMO - polykernel model on the full data set is the best one. I think we could stop here and use the results of this model for got.show.

What I did not understand, however, why are the results of this model are different between the post of 4 days ago:

=== Confusion Matrix ===

[code]

 1129  322 |    a = 1
  217  278 |    b = 0

and t

[2016-03-24 10:19] sacdallago commented on #54
This discussion exceeds my knowledge, but the title of this issue is:

Which is definitely something that should be closed after a feature freeze.

[2016-03-24 11:16] subburamr commented on #58
Fixed by #59

[2016-03-24 11:16] #58 closed, assigned to nobody

[2016-03-24 11:41] goldbergtatyana commented on #54
Yes, the deliver is tomorrow  - no improvements should be done after tomorrow. However, today you @subburamr could try one more thing:

 Take the predictions on the full data set of your final model. Each character has a prediction of being DEAD and the corresponding PLOD. As of now (i.e. by default), the PLOD of 50 discriminates dead from alive ones. Will the performance of your model improve if

[2016-03-24 12:50] subburamr commented on #54
Below are the differences between the latest result and the first result.
- Attribute Age was used instead of DateOfBirth.
- Data preprocessed by removing missing values with mean or median.
- The option [ThresholdSelector](https://rapid-i.com/wiki/index.php?title=Weka:W-ThresholdSelector) was used along with SMO. I had assumed this would modify the threshold value automatically, but I noticed fro

[2016-03-24 15:18] Hack3l opened #61 "Popularity from API?"
@sacdallago Should we change the populartity (page rank) to be taken from the api?
only asking because feature freeze was on monday.

[2016-03-24 15:18] gyachdav commented on #61
that should be fine. feature freeze === not developing new features. fixing/improving existing features is fine.

[2016-03-24 17:56] sacdallago commented on #61
Agree with guy. If it doesn't mean a major change in functionality then this can be done and should also look nicer as we/you avoid redundancy :)
Thanks for asking!

[2016-03-24 22:55] Hack3l commented on #61
ok thanks

[2016-03-24 22:55] #61 closed, assigned to nobody

[2016-03-25 03:16] subburamr commented on #54
@goldbergtatyana By reducing the threshold value, the model shows improvement in classifying number of dead people.

Here is the summary with threshold value 35%, testing with threshold lower than this seems to affect the overall performance.

**Summary with threshold value 35%**
Correctly classified Instances     71.0688591984 %
Incorrectly classified Instances   28.9311408016 %

=== Confusion Ma

[2016-03-25 08:40] sacdallago commented on #54
@subburamr :D well, if you found a better predictor, you can still push that but then close this issue (by today) and rest at least 'til the 10th of April!
You can go on with this discussion in the future, opening a new issue "chose better predictions then v1.0.0" and you can start working on this repo as much as you wish :dancer:
https://github.com/Rostlab/JS16_ProjectE/issues/19

[2016-03-25 11:45] goldbergtatyana commented on #54
@subburamr the improvement in classifying dead is at the cost of correctly classified alive. Therefore, the default threshold of 50 should be the one to use. Please forward your results (a function that provides a PLOD for each character) *_today *_ to group A and please write here a short summary of how you have developed your prediction model.

[2016-03-25 13:54] #16 closed, assigned to subburamr

[2016-03-25 14:44] Hack3l commented on #60
1949 characters we looked at 31 features (not all present for every character) resulting in 60.419 datapoints (if all characters had all features)

[2016-03-25 15:04] #33 closed, assigned to nobody

[2016-03-25 15:07] subburamr commented on #24
Closing this as #64 contains the final project structure

[2016-03-25 18:00] #26 closed, assigned to AlexMoroz

[2016-03-25 18:12] subburamr commented on #54
Summary of the prediction model has been documented [here](https://github.com/Rostlab/JS16_ProjectB_Group6/wiki/Prediction-Model)

[2016-03-25 18:12] #54 closed, assigned to nobody

[2016-03-26 16:21] goldbergtatyana commented on #60
What features do those dead characters have in common that are misclassified as alive ones by your model?

[2016-03-26 16:26] goldbergtatyana commented on #60
Looking at most contributing (i.e. for a prediction important) features, can we tell that a character described by a particular feature has more chances to die?
- you can load the features together with the predicted class in an excel sheet and look with the eye at the features that are more often found in the feature set of dead than of alive characters.

[2016-03-26 17:13] goldbergtatyana commented on #60
Are women more likely to survive than men?
One way for answering the question is:
- what is the likelihood for a male character to die [100 \* (number of dead male characters) / (the number of all male characters)]?
- what is the likelihood for a female character to die?
- compare the two numbers

[2016-03-26 17:20] goldbergtatyana commented on #60
Given two opponent characters (e.g. **Arya Stark and Cersei Lannister *_or *_Sansa Stark and Ramsay Bolton**), who is more likely to die next?

[2016-03-26 17:21] goldbergtatyana commented on #60
Did Jon Snow eventually survive or not?

[2016-03-26 17:24] goldbergtatyana commented on #60
What else?

[2016-03-26 20:57] subburamr commented on #60
Here are some of the stats,

**1. Major feature values contributing to death**
In the results, the normalized weight of the attributes were mentioned. Based on that, a higher value corresponded to more chances of classifying a character as dead.
Below are the highest and lowest value for some of the features

**1. Culture**
_most likely to die_
1.0035 \* (normalized) culture=Valyrian
37/43 dead
_l

[2016-03-26 23:19] gyachdav commented on #60
@marcusnovotny take a look. nice stats for your landing pages.
hope this sparks new ideas.

[2016-03-27 07:04] goldbergtatyana opened #66 "Final Predictions"
Did you provide the function returning PLODs to group A? Also, please upload the file with the final predictions for all characters here and in your model description (so that we don't need to scroll up and down through old posts to find the correct file). What are your top 10 characters, please list them here as well. Thanks!

[2016-03-27 08:28] Hack3l commented on #66
Final Prediction:[weka_pred.json.txt](https://github.com/Rostlab/JS16_ProjectB_Group6/files/190822/weka_pred.json.txt)
Top 10:
Grazdan zo Galare   99.6
Ghael   99.3
Tytos Blackwood 99.3
Tyrion Tanner   98.4
Valaena Velaryon    98.3
Lancel Lannister    98.2
Zollo   98
Tommen Baratheon    97.9
Urswyck 97.9
Willis Fell 97.8

[2016-03-27 11:18] subburamr commented on #66
I have notified Project A to add the PLODs https://github.com/Rostlab/JS16_ProjectA/issues/120

[2016-03-27 11:25] gyachdav commented on #66
What about top /popular/ 10?

Sent from my iPhone

[2016-03-27 11:55] subburamr commented on #66
**Top 10 Popular characters** (norm. popularity > 0.34)

| plod | Name | Normalized popularity |
| --- | :-: | --: |
| 98.2 | Lancel Lannister | 0.47826087 |
| 97.9 | Tommen Baratheon | 1 |
| 97.2 | Edmure Tully | 0.655518395 |
| 96.4 | Stannis Baratheon | 1 |
| 95.9 | Jeyne Poole | 0.384615385 |
| 95.7 | Edmyn Tully | 0.357859532 |
| 95.3 | Daenerys Targaryen | 1 |
| 95.2 | Illyrio Mopatis | 0.39

[2016-03-27 12:03] gyachdav commented on #66
Jon snow?

Sent from my iPhone

[2016-03-27 12:10] subburamr commented on #66
I have updated the list with all the most popular characters, but the popularity is based on old data

[2016-03-29 14:15] gyachdav commented on #60
Please also compile a list of the most dangerous houses and the "safest" houses. This ranking would be a simple average of PLODs for all characters grouped by houses.

[2016-03-30 22:43] ThuyNganTran commented on #60
I got the average PLOD for the houses now but I still need to round and sort the PLOD values. It'll be up by tomorrow.

[2016-04-01 15:01] ThuyNganTran commented on #60
Top Ten Most Dangerous Houses:
**House Lannister of Casterly Rock**
    PLOD: 0.982
**Blacks**
    PLOD: 0.977
**House Moore**
    PLOD: 0.94
**House Egen**
    PLOD: 0.937
**Good Masters**
    PLOD: 0.926
**House Cassel**
    PLOD: 0.917
**Brave Companions**
    PLOD: 0.908
**Khal**
    PLOD: 0.904
**House Cockshaw**
    PLOD: 0.886
**House Celtigar**
    PLOD: 0.869

Top Ten 'Safest' Houses:
**H

[2016-04-01 15:08] ThuyNganTran commented on #24
I added a new directory for the PLOD of the houses (or other stats) so the final project structure is not up-to-date anymore. As for now, only a csv file, a .js file containing minor code and a node package are inside so no real tests are necessary though.

[2016-04-01 15:26] gyachdav commented on #60
is there a complete list I can look at? the top ten hardly contain any known names that we can use on the landing pages/.

[2016-04-01 15:45] ThuyNganTran commented on #60
I can also just consider the pagerank of the house members when making up the top tens. Right now, I only executed the housePlod.js file in the 'stats' directory (branch housePLOD). I just committed the complete output here: https://github.com/Rostlab/JS16_ProjectB_Group6/commit/6131b9536fe9cdf10a46aaab74c8e19c233d4af3

[2016-04-01 16:27] gyachdav commented on #60
even better yes! have a list flittered for popularity based on the aggregated pagerank for a house.

[2016-04-01 16:31] gyachdav commented on #60
@marcusnovotny check out this list https://github.com/Rostlab/JS16_ProjectB_Group6/commit/6131b9536fe9cdf10a46aaab74c8e19c233d4af3

Seems like we have a headline: "**House Lannister to become extinct by the end of Song of Ice and Fire**"

[2016-04-01 16:32] marcusnovotny commented on #60
Looks like they're in good company though :smile:

[2016-04-02 05:19] jsalahov commented on #24
@ThuyNganTran It is safe to change the directory structure, as tests are not relevant now

[2016-04-02 05:19] #24 closed, assigned to nobody

[2016-04-02 10:39] ThuyNganTran commented on #60
@marcusnovotny I have to redo that top ten... it turns out that the naming of the houses are not consistent, so better not use it for the landing page yet. (e.g as for Lannisters, there is 'House Lannister', 'House Lannister of Lannisport' and 'House Lannister of Casterly Rock').

[2016-04-02 13:31] goldbergtatyana commented on #54
@subburamr
In the final prediction model, the "Ranking of Attributes using Relief F score" lists 24 features. Is this your total number of features and not 26 as written in the description?

Also, what do abbreviations stand for:
- FfC
- DwD
- SoS
- CoK
- GoT

Finally, what do exactly "related to dead" and "number dead relations" mean?

Thank you!

[2016-04-02 14:22] subburamr commented on #54
Yes, the number of attributes used is 24. I have now updated the description. In the weka result, name and isAlive label are added as attributes making it 26, so we had reported that we were using 26 attributes.
However name is removed via Remove filter before running SVM classifier and used only for reporting the probability of class.
Final prediction output for reference:
[final_output.txt](http

[2016-04-02 14:28] ThuyNganTran commented on #60
Fixed it. You can find the complete list of houses with at least one popular character ranked by their average PLOD here: https://github.com/Rostlab/JS16_ProjectB_Group6/blob/288d52dbc91cd531d9714c18347f797161135b07/stats/sortedHousePlod.json

[2016-04-02 15:04] gyachdav commented on #60
:cry: and I really wanted the Rains of Castamere to become the perfect literary device. The extinction of the Lannisters would have been such a great Ice and Fire moment and really in line with the way GRRM develops the plot throughout the series. Oh well, we still have House Poole to speculate about :laughing:

[2016-04-02 16:43] goldbergtatyana commented on #60
hold on! those characters who are already dead - what is their PLOD? Is it 100%. If yes - :muscle:

If no - the statistics is messed up!

[2016-04-02 17:05] goldbergtatyana commented on #60
@ThuyNganTran two suggestions on how to improve the statistics from above:
1. all dead characters who died before reaching 100 years old get a PLOD = 100%
2. please compile the statics according to the size of a house, i.e. there will be statistics for houses of the size of one member, then there will be statistics for houses of the size of two members, then a third separate statistics for the siz

[2016-04-02 21:38] gyachdav opened #69 "Name your algorithm"
Is there a name for your algorithm that we can use when presenting it on the website?

[2016-04-02 21:42] sacdallago commented on #69
Same drill https://github.com/Rostlab/JS16_ProjectB_Group6/blob/develop/package.json#L2

[2016-04-02 21:42] #69 closed, assigned to nobody

[2016-04-02 22:37] ThuyNganTran commented on #60
I fixed the PLODs to 1 for dead characters who died before the age of 100. I also compiled a list for all houses and for only the popular houses (https://github.com/Rostlab/JS16_ProjectB_Group6/commit/e9d6013b71bde3f98fad73cac6543589551ec214). As for the size of the houses, I don't really have an idea of what you imagine it to be, since there should be a way to compare the houses to each other, de

[2016-04-03 15:52] goldbergtatyana commented on #60
@ThuyNganTran can you please provide a link to the characters.csv file you are working with? Thanks

[2016-04-04 00:02] marcusnovotny commented on #60
Hey @ThuyNganTran ! I'm still working on the pages and really interested in your data. Is there more than the sortedHousesPlod.json available?

I'm particularly interested in the following characters / houses:
House Stark
House Lannister
Daenerys Targaryen
Ramsay Bolton
Theon Greyjoy
Hodor

Thanks in advance.

[2016-04-04 09:01] ThuyNganTran commented on #60
@goldbergtatyana here is the csv that I obtained from exporting an excel file containing all relevant character data: https://github.com/Rostlab/JS16_ProjectB_Group6/blob/housePLOD/stats/characters.csv
@marcusnovotny I'll provide you with the following link: https://github.com/Rostlab/JS16_ProjectB_Group6/tree/housePLOD/stats
It contains the ranking for all houses, only popular houses and also the

[2016-04-04 10:03] marcusnovotny commented on #60
Thank you!

[2016-04-04 11:04] subburamr commented on #60
@gyachdav @goldbergtatyana @sacdallago
Just bringing to your notice that there could be inconsistencies for character PLODs displayed on webpage due to below reasons.
1. Dead Characters misclassified as alive may have a plod < 100%. If PLOD is not applicable for dead, then this could be fixed by either A or F(when displaying the PLOD)
2. Characters who have died in the TV show but not yet dead in

[2016-04-04 11:17] goldbergtatyana commented on #60
Ahh, my request was meant for group 7 - sorry @subburamr this is what happens when taking care of too many tasks at the same time. Everything is perfectly fine with your data :+1:

[2016-04-04 13:50] goldbergtatyana commented on #60
@ThuyNganTran thanks Thuy for the nice work!

You probably noticed that we were surprised by important houses scoring so low. We took a look at the data and some things became more clear to us. For example that we should consider the size of a house for calling it dangerous - a house of 1 out 1 killed member is not more dangerous than a house where 9 of 10 members were killed.

Therefore, we want

[2016-04-04 18:41] ThuyNganTran commented on #60
@goldbergtatyana As far as I understood your instructions, I just replaced the #ofHouseMembers with 105 (number of largest house) when dividing the accumulated plod. The results for popular and all houses are under this commit https://github.com/Rostlab/JS16_ProjectB_Group6/commit/1700117e7e7739a80441d32f19fd06dce11f6cdc. I still don't really get how that normalized value will be representative fo

[2016-04-04 22:02] goldbergtatyana commented on #60
Still unhappy with the results, cause:
1. tapping into sophisticated statistics is too heavy for the simple task at hand
2. way too many characters have no age estimates.

Therefore @ThuyNganTran let's repeat the exercise one more time - hopefully the last one :) - please do the following:
1. ignore the age for good now
2. assign to everyone who is dead plod=1 and the actual plod to everyone else

[2016-04-06 11:34] goldbergtatyana commented on #60
Hi @ThuyNganTran, is it all clear how to get to the PLOD numbers of houses?

[2016-04-06 17:04] ThuyNganTran commented on #60
Hi @goldbergtatyana I'm sorry for the late reply but I had a tutoring seminar the last three days and my laptop's power supply had a literal meltdown yesterday... anyway, I hope that this https://github.com/Rostlab/JS16_ProjectB_Group6/commit/e1616a6e99120072a7c63faaf0609faeb4e5aab3 is what you wanted (json lists are updated too @marcusnovotny )!

[2016-04-07 12:05] goldbergtatyana commented on #60
Thanks for keeping up with the good work, @ThuyNganTran! The results look good and you can expect seeing them on got.show soon :)

[2016-04-12 08:19] ThuyNganTran opened #71 "Inconsistencies between the book and the TV show"
@gyachdav @goldbergtatyana @sacdallago
As we already mentioned here https://github.com/Rostlab/JS16_ProjectB_Group6/issues/60#issuecomment-206839112
there are some inconsistencies between the book and the tv show. project a uses data from the awoiaf wiki which uses the book data in the info box (our main source of information). meanwhile, we're doing a prediction for the tv show and some character

[2016-04-12 15:50] goldbergtatyana commented on #71
Thanks @ThuyNganTran for the concerns raised! Yeah we are aware of these inconsistencies and put several (hopefully noticeable) notes on got.show saying that our predictions are based on books only.

Btw, speaking of which, I was wondering how you guys assigned dead labels to those characters for whom there is no death date in the awoiaf wiki? Altogether, I count 51 character with these features.

[2016-04-15 13:28] goldbergtatyana commented on #66
Hi Group 6, amazing news here!

Your prediction algorithm was published just now in the news of one of the largest Russian news agencies https://lenta.ru/news/2016/04/15/thewindsofwinter/

We are observing a solid traffic coming from that direction and therefore I want to ask you to please tell me:
- how you assigned dead labels to characters with no date of death in the awoiaf wiki
- what is the

[2016-04-15 15:44] subburamr commented on #66
Hi Tatyana,

Here are the results on the full set(2028 characters) when using the same parameters.
[2028_chars_weka_output.txt](https://github.com/Rostlab/JS16_ProjectB_Group6/files/221262/2028_chars_weka_output.txt)

=== Stratified cross-validation ===
=== Summary ===

Correctly Classified Instances        1392               68.6391 %
Incorrectly Classified Instances       636               31.36

[2016-04-15 16:05] subburamr commented on #66
Here is the plod value comparison for the major characters

**PLOD for 20 Most Popular  characters**

| Name | Old Plod | New Plod |
| --- | :-: | --: |
| Tommen Baratheon | 97.9 | 99.8 |
| Stannis Baratheon | 96.4 | 99.1 |
| Daenerys Targaryen | 95.3 | 99.8 |
| Davos Seaworth | 91.8 | 90.9 |
| Petyr Baelish | 91.8 | 92.6 |
| Theon Greyjoy | 74.1 | 79.1 |
| Bran Stark | 71.1 | 76.4 |
| Tyrion Lann

[2016-04-15 17:39] sacdallago commented on #66
Hey all!

I fear that it would do more harm than good to change the predictions now that many sites are referencing us saying "Jon Snow has 11% likelihood of death" and then have it at something different :)

We will definitively put the most recent data somewhere in the near future ( 2 weeks? ), but in the meantime: could you compile the old list + add only the predictions for the missing charact

[2016-04-15 19:41] gyachdav commented on #66
Group 6,
The TUM press office made the following request for our press release:
"... Is it possible to visualize the algorithm or some of its decision tree or … ? For most purposes we need wide format pictures...."

Do you have a nice looking figure of your algorithm, of the results, of the important features?

We need this ASAP as the press office will discuss the release on Monday and we plan to

[2016-04-16 07:59] goldbergtatyana commented on #66
thanks @subburamr for explaining death labels and providing new results!

For now, yes, as @sacdallago says all we need is a new Json file with the predictions of 1946 characters from the old model (i.e. the predictions we have on got.show now) and the predictions of remaining 82 characters from the new model. THANKS!

Oh and please also upload your weka input file here as well.

[2016-04-16 12:49] subburamr commented on #66
I had to update our code and re-run the algorithm as all characters were identified as noble.
This is because all characters now have titles attribute which is an array of titles (previously only one title was present and title attribute was not present for characters without any title).
In the updated code, only the first title of a character is considered.

[data.zip](https://github.com/Rostlab/